*{
    font-family: 'Mansalva', cursive;

}
.titulo-index{
    color: blue;
    font-size: 40pt;
}

.inspiracao{
    text-decoration: none;
    font-size: 15pt;
    color: rgb(117, 27, 201, 0.50)
}

label{
    font-size: 14pt;
}

input{
    height: 50px;;
}

.mindset{
    width: 22%;
    margin: 20px;
}